{% extends 'story7/base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<section class="registration-section d-flex justify-content-center align-items-center text-dark flex-column" style="height: 100vh;">
    {% if error %}
            <p class="text-center p-2 bg-danger rounded-lg">
                {{error}}
            </p>
            <p class="text-center p-2 bg-danger rounded-lg">
                * Il doit y avoir au moins 9 caractères<br>
                * Assurez-vous qu'il y a au moins 5 lettres
            </p>
    {% endif %}
    <form method="POST" action="{% url 'story9:register' %}" class="login-form bg-light rounded-lg d-flex flex-column justify-content-center p-4">
        <h3 class="text-center mb-3">CRÉER UN COMPTE</h3>
        {% csrf_token %}
        {{registering}}
        <button type="submit" id="btn_register" class="btn btn-dark" style="padding: 10px 30px; border:none; border-radius:100px 100px 100px 100px">Registre</button>
    </form>

</section>
{% endblock %}