{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block meta %}
    {% endblock meta %}
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'story7/css/styles.css' %}">
    <link rel="shortcut icon" type="image/JPG" href="{% static 'story7/pic/logo.JPG' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body style="background-image: url(https://secretcompass.com/wp-content/uploads/2019/04/a-walk-on-lebanon-cover.jpg);" style="background-attachment: fixed;"> <!-- Background taken from secretcompass.com-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-footer-bg shadow-lg">
        {% if page == "storys7" and request.user.is_authenticated %}
          <div class="container">
              <a class="navbar-brand bg-dark" id="webappname" href="{% url 'story7:index' %}">Le profile de {{ namanya }}</a>
          </div>
        {% elif page == "storys7" and not request.user.is_authenticated %}
        <div class="container">
          <a class="navbar-brand bg-dark" id="webappname" href="{% url 'story9:register' %}">Faire un compte</a>
        </div>
        {% elif page == "storys8" and request.user.is_authenticated %}
          <div class="container">
              <a class="navbar-brand bg-dark" id="webappname" href="{% url 'story8:index' %}">La Bibliothèque de {{ namanya }}</a>
          </div>
        {% elif page == "storys8" and not request.user.is_authenticated %}
        <div class="container">
          <a class="navbar-brand bg-dark" id="webappname" href="{% url 'story9:register' %}">Faire un compte</a>
        </div>
        {% elif page == "storys9" and type == "login" %}
        <div class="container">
          <a class="navbar-brand bg-dark" id="webappname" href="#">Login</a>
        </div>
        {% elif page == "storys9" and type == "registre" %}
        <div class="container">
          <a class="navbar-brand bg-dark" id="webappname" href="#">Registre</a>
        </div>
        {% else %}
          <div class="container">
              <a class="navbar-brand bg-dark" id="webappname" href="#">N'est pas Disponible</a>
          </div>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="justify-content: center;" id="navbarNavDropdown">
          <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'story7:index' %}">Story 7</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'story8:index' %}">Story 8</a>
          </li>
        </ul>
            <div class="navbar-nav">
              {% if not request.user.is_authenticated %}
              <a href="{% url 'story9:logging_in' %}" class="nav-item nav-link button-login">LOGIN</a>
              <a href="{% url 'story9:register' %}" class="nav-item nav-link button-signup">REGISTRE</a> 
              {% else %}
              <a href="{% url 'story9:logging_out' %}" class="nav-item nav-link button-signup">SE DÉCONNECTER</a>

              {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer navbar-footer-bg align-items-center text-light justify-content-center shadow-lg d-flex">
        <p> Droits d'auteur : Matthew T.P. Solomon </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'story7/js/script.js' %}"></script>
</body>
</html>