{% extends "story7/base.html" %}
{% load static %}
{% block meta %}
<title>Le Profile de Monsieur Matthew</title>
{% endblock meta %}
{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
    {% if request.user.is_authenticated %}
    <div>
        <h1 class="p-2 m-0 accordion-tab text-light bg-dark" style="font-family: Brush Script MT;">
            Bienvenue ici {{ namanya }}
        </h1>
    </div>
    <div>
        <p><br> <br> <br> </p>
    </div>
    {% endif %}

    <div class="col-lg-6 col-sm-12 h-main d-flex justify-content-center align-items-center flex-column">
        <img class="w-50 bg-dark p-2 rounded-lg" src="{% static 'story7/pic/profpic.jpg' %}">
        <div class="mt-2 bg-dark text-light p-1 rounded-lg">
            <p>Matthew T.P. Solomon</p>
        </div>
    </div>
    <section class="h-main container-fluid" id="main-bg">
        <div class="col-lg-6 col-sm-12 h-main p-2">
            <div id="accordion">
                <h3 position="0" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Je Suis Qui
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <p position="0" class="p-1 m-0 bg-success text-light bg-info">
                    Salut, je suis un Indonésien qu'est content d'apprendre des langues
                </p>
                <h3 position="1" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Mes Loisirs
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <p position="1" class="p-1 m-0 bg-success text-light bg-info">
                    Je suis content d'apprendre des langues, ces sont elles<br>    * Allemand<br>    * Français<br>    * Roumain<br><br>
                    J'adore de faire ces activités<br>    * Cuisiner<br>    * Dormir<br>    * Regarder des Animes<br>
                </p>
                <h3 position="2" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Veux etre quoi?
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <p position="2" class="p-1 m-0 bg-success text-light bg-info">
                    * Ingénieur sur l'informatique <br> * Scientifique des Données <br> * Un Père <br> * Un Mari
                </p>
                <h3 position="3" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Contactez-Moi
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <p position="3" class="p-1 m-0 bg-success text-light bg-info">
                    Je Suis Disponible sur Instagram : <a href="https://www.instagram.com/matthewsolomon_/?hl=en" class="text-light">
                        @matthewsolomon_
                    </a>
                </p>
                <h3 position="4" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Votre occupation?
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <p position="4" class="p-1 m-0 bg-success text-light bg-info">
                    Je suis étudiant à UI
                </p>
                <h3 position="5" class="p-2 m-0 accordion-tab text-light bg-dark">
                    Mes Animations
                    <span class="mx-1 float-right down" id="down">
                        ↓
                    </span>
                    <span class="mx-1 float-right up" id="up">
                        ↑
                    </span>
                </h3>
                <video position="5" controls class="p-1 m-0 rounded shadow-lg bg-info">
                    <source src="{% static 'story7/video/baka-mitai.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>

    </section>
</div>
{% endblock %}