{% extends "story7/base.html" %}
{% load static %}
{% block meta %}
<title>La bibliothèque de Monsieur Matthew</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-main3 text-light rounded-0 m-0" style="background-color: rgba(2, 18, 32, 0.503);">
    <div class="container">
        <h1 class="display-4" style="font-family: Brush Script MT;">Bonjour à Vous {{ namanya }} <br> à La bibliothèque de Monsieur Matthew</h1>
        <p class="lead" style="font-family: Brush Script MT;">Ici, Vous pouvez rechercher vos livres préférés</p>
        <hr class="my-4">
        <p style="font-family: Brush Script MT;">Ceci est créé par Monsieur Matthew</p>
        <p class="lead">
        <div class="d-flex">
            <input type="text" id="keyword" class="form-control w-25 mr-1" placeholder="Le Livre">
            <button class="btn btn-main1 bg-dark text-light" id="searchword" role="button" style="font-family: Brush Script MT;">Rechercher</button>
        </div>
        </p>
    </div>
</div>
<section class="bg-main3 text-light p-3 result-section">
    <h1 class="text-center p-0 m-0" id="otoko">Voici les résultats : </h1>
    <ul id="resultat" class="d-flex flex-column align-items-center">
        <h1 class="m-5">{{ namanya }}, Vous n'avez pas cherché pour un livre</h1>
        <div class="col-lg-6 col-sm-12 h-main d-flex justify-content-center align-items-center flex-column">
            <img class="w-50 bg-dark p-2" style="border-radius: 50%;" src="{% static 'story8/pic/gomenasai.gif' %}">
        </div>
    </ul>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        $("#searchword").click(() => {
            var otokocolour = "#041e21";
            var otokocurves = "Brush Script MT";
            var titles = $("#keyword").val();
            var called = 'https://www.googleapis.com/books/v1/volumes?q=' + titles;
            $("#otoko").css("font-family", otokocurves)
            $("#otoko").css("color", otokocolour)
            getResultat();
        })
    });
    
    function getResultat() {
        $.ajax({
            url: window.location.origin + "/story8/livre/?q=" + $( '#keyword' ).val(),
            success : function(resultat){
                var obj_resultat = $("#resultat");
                obj_resultat.empty();

                if (resultat.items.length != 0){
                    for (x = 0 ; x < resultat.items.length ; x++){
                        var generalement = resultat.items[x];
                        var temp_titre = generalement.volumeInfo.title;
                        var infos = generalement.volumeInfo.infoLink;
                        try {
                            var imge = generalement.volumeInfo.imageLinks.thumbnail;
                        } catch {
                            var imge = "https://hg1.funnyjunk.com/thumbnails/comments/Anybody+can+be+sick+of+any+job+on+some+days+_92b8ed051ccb2daa44c0fcbcef26e6f0.jpg";
                        }
                        var datespublicite = generalement.volumeInfo.publishedDate;
                        var descriptions = generalement.volumeInfo.description ? generalement.volumeInfo.description : "Il n y a pas de description"
                        obj_resultat.append(
                            `<div class="card w-75 border-dark m-3">
                                <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                                    <a target="_blank" class="book-link text-light" href="${infos}">
                                        ${temp_titre}
                                    </a>
                                </h3>
                                <div class="card-body bg-main2" style="background-color: rgba(2, 18, 32, 0.503);">
                                    <div class="row">
                                        <div class="col-lg-9 col-12 book-info">
                                            <h5 class="card-title">Published on ${datespublicite}</h5>
                                            <p class="card-text text-justify">${descriptions}</p>
                                        </div>
                                        <div class="col-lg-3 col-12 d-flex align-items-center justify-content-center">
                                            <img class="mr-3 book-cover" src="${imge}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        )
                    }
                }
            }
        });
    }

</script>
{% endblock %}